<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.mapper.shopping_backstage_payWay.Pay_DAO">
    <resultMap id="resultMap" type="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.PaywayEntity">
        <id property="id" column="id"/>
        <result property="payWayName" column="payWayName"/>
        <result property="pictureUrl" column="pictureUrl"/>
        <result property="payStatus" column="payStatus"/>
        <result property="payInterface" column="payInterface"/>
    </resultMap>
    <insert id="insertWay">
         INSERT INTO payway (payWayName,pictureUrl,payStatus,payInterface) VALUE(#{payWayName},#{pictureUrl},#{payStatus},#{payInterface})
      </insert>
    <delete id="deleteWay">
        delete from payway
        <where>
            id=#{id}
        </where>
    </delete>
    <select id="selectPay" resultMap="resultMap">
        select * from payway
    </select>
    <update id="updataWay">
        UPDATE payway
        <set>
            <if test="payWayName!=null">
                payWayName=#{payWayName},
            </if>
            <if test="pictureUrl!=null">
                PictureUrl=#{pictureUrl},
            </if>
            <if test="payStatus!=null">
                payStatus=#{payStatus},
            </if>
            <if test="payInterface!=null">
                payInterface=#{payInterface},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>