<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.mapper.shopping_backstage_Promotionitem.PromotionitemMapper">


    <!--添加促销商品 -->
    <insert id="saveMsg">
       INSERT  INTO shoppingmall.promotionitem(startTime, endTime, discountPrice, commodityNumber, commodityId, specifications1, specifications2, specifications3, specifications4)
       VALUES(#{promotionitem.startTime},#{promotionitem.endTime},#{promotionitem.discountPrice},
       #{promotionitem.commodityNumber},#{promotionitem.commodityId},#{promotionitem.specifications1},
       #{promotionitem.specifications2},#{promotionitem.specifications3},#{promotionitem.specifications4})
    </insert>

    <!--删除促销商品-->
    <delete id="delMsg">
        delete from shoppingmall.promotionitem WHERE id=#{id}
    </delete>
    <update id="updateMsg">
        UPDATE shoppingmall.promotionitem
        <set>
            <if test="startTime!=null">
                startTime=#{startTime},
            </if>
            <if test="endTime!=null">
                endTime=#{endTime},
            </if>
            <if test="discountPrice!=null">
                discountPrice =#{discountPrice},
            </if>
            <if test="commodityNumber!=null">
                commodityNumber =#{commodityNumber}
            </if>
        </set>
        <where>
            id=#{id}
        </where>
    </update>
    
    
    <resultMap id="selectPromoyion" type="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.PromotionitemEntity">
        <id column="id" property="id"/>
        <result property ="startTime" column="startTime"/>
        <result property="endTime" column="endTime"/>
        <result property="discountPrice" column="discountPrice"/>
        <result property="commodityNumber" column="commodityNumber"/>
        <result property="commodityId" column="commodityId"/>
        <result property="specifications1" column="specifications1"/>
        <result property="specifications2" column="specifications2"/>
        <result property="specifications3" column="specifications3"/>
        <result property="specifications4" column="specifications4"/>
        <association property="commodityEntity" javaType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommodityEntity">
            <id column="id" property="id"/>
            <result column="commodityName" property="commodityName"/>
            <result column="bigPictureUrl" property="bigPictureUrl"/>
            <result column="typeName" property="typeName"/>
        </association>
    </resultMap>
    <!--查询所有促销商品-->
    <select id="getMsg" resultMap="selectPromoyion">

       SELECT * FROM promotionitem p ,commodity c WHERE c.id=p.commodityId limit #{currentPage},#{pageSize}

    </select>
    <!--查询过期促销商品-->
    <select id="getMsgOut">
        SELECT * FROM promotionitem
        WHERE endTime &lt; now();
    </select>
    <select id="countMsg" resultType="int">
        SELECT count(id) from shoppingmall.promotionitem
    </select>
</mapper>