<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//com.order.test.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.mapper.shopping_backstage_Commodity.SelectCommodidyMapper">
<select id="getCount" resultType="int">
    SELECT count(id) FROM shoppingmall.commodity
    <where>
        <if test="commodity.commodityName !=null" >
            commodity.commodityName LIKE '%${commodity.commodityName}%'
        </if>
    </where>
</select>
    <!-- 商品的所有查询方法-->
    <!--帮助查询 商品类型 层级（标题） -->
    <select id="selectleves" resultType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.TypeEntity" >
        SELECT * FROM shoppingmall.type WHERE levels=1
    </select>
    <!--查询商品规格 -->
    <select id="selectspecificationstopic" resultType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.SpecificationstopicEntity">
        SELECT * FROM shoppingmall.specificationstopic
    </select>
    <!-- 查询商品详细规格-->
    <select id="selectspecificationsdetailed" resultType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.SpecificationsdetailedEntity">
        SELECT * FROM shoppingmall.specificationsdetailed
    </select>

    <select id="seletCommodityId" resultType="int">
        SELECT id FROM shoppingmall.commodity WHERE commodityName=#{name}
    </select>
    <!-- 查询  商品类型标题  比如说【颜色 ，尺码】-->
    <select id="selsctspecification" resultType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommoditySpecificationRelationEntity">
        SELECT id ,specificationName FROM commodity_specification_relation WHERE levels=1;
    </select>

    <resultMap id="Commodity1" type="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommoditySpecificationInventoryPriceEntity">
        <id column="pid" property="id"/>
        <result column="commodityId" property="commodityId"/>
        <result column="specification1" property="specification1"/>
        <result column="specification2" property="specification2"/>
        <result column="specification3" property="specification3"/>
        <result column="specification4" property="specification4"/>
        <result column="inventory" property="inventory"/>
        <result column="price" property="price"/>
        <result column="picture" property="picture"/>
        <association property="commodityEntity" javaType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommodityEntity">
            <id column="cid" property="id"/>
            <result column="commodityName" property="commodityName"/>
            <result column="bigPictureUrl" property="bigPictureUrl"/>
            <result column="typeName" property="typeName"/>
        </association>
    </resultMap>


    <!--<resultMap id="Commodity" type="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommodityEntity">-->
        <!--<id column="cid" property="id"/>-->
        <!--<result column="commodityName" property="commodityName"/>-->
        <!--<result column="bigPictureUrl" property="bigPictureUrl"/>-->
        <!--<result column="typeName" property="typeName"/>-->
        <!--<association property="priceEntity" javaType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommoditySpecificationInventoryPriceEntity">-->
           <!--<id column="pid" property="id"/>-->
            <!--<result column="commodityId" property="commodityId"/>-->
            <!--<result column="specification1" property="specification1"/>-->
            <!--<result column="specification2" property="specification2"/>-->
            <!--<result column="specification3" property="specification3"/>-->
            <!--<result column="specification4" property="specification4"/>-->
            <!--<result column="inventory" property="inventory"/>-->
            <!--<result column="price" property="price"/>-->
            <!--<result column="picture" property="picture"/>-->
        <!--</association>-->
    <!--</resultMap>-->
    <select id="selectCommodity" resultMap="Commodity1">
        SELECT c.id as cid,c.commodityName,c.bigPictureUrl,c.typeName,p.id AS pid,p.commodityId,
        p.inventory,p.specification1,p.specification3,p.price,p.specification2,p.picture
        FROM commodity c,commodity_specification_inventory_price p
        WHERE c.id  = p.commodityId
        <if test="commodity.commodityName !=null" >
            AND c.commodityName LIKE '%${commodity.commodityName}%'
        </if>
        limit #{currentPage},#{pageSize}
    </select>

    <!--查询商品补货信息发给进销存kafka-->
    <select id="selectkafka" resultMap="Commodity1">

        SELECT c.commodityName,p.specification1,p.specification2,p.specification3,p.specification4,p.inventory
        FROM commodity c,commodity_specification_inventory_price p
        WHERE
        commodityId=#{commodity.commodityId}
        <if test="commodity.specification1!=null">
            and specification1=#{commodity.specification1}
        </if>
        <if test="commodity.specification2!=null">
            and specification2=#{commodity.specification2}
        </if>
        <if test="commodity.specification3!=null and commodity.specification3.length>0">
            and specification3=#{commodity.specification3}
        </if>
        <if test="commodity.specification4!=null and  commodity.specification3.length>0">
            and specification4=#{commodity.specification4}
        </if>
    </select>

    <select id="selectAllspecification" resultType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommoditySpecificationInventoryPriceEntity">
        SELECT * FROM commodity_specification_inventory_price
        WHERE commodityId=#{Id}
    </select>

    <!-- 查询商品最后一个 商品id-->
    <select id="SelectCommodityId" resultType="int">
        SELECT id FROM commodity  ORDER BY id DESC LIMIT 0,1;
    </select>
    <!--查询商品type id -->
    <select id="selectTypeId" resultType="int">
        SELECT id FROM  shoppingmall.type WHERE typeName=#{typeNamelevels}
    </select>


    <!-- * 查询商品  颜色{子类}尺码{子类}-->
    <select id="selectspecifications" resultType="com.zhkj.shopmall.shoppingbackstage.shopping_backstage_dao.entity.CommoditySpecificationRelationEntity">
        SELECT * FROM shoppingmall.commodity_specification_relation
        WHERE shoppingmall.commodity_specification_relation.parentId=#{commodity.id};
    </select>

    <select id="selectCount" resultType="int">
        SELECT inventory FROM shoppingmall.commodity_specification_inventory_price
        WHERE  id=#{specificationsId}

    </select>

    <!--
      <if test="price.specification1!=null">
            and specification1=#{price.specification1}
        </if>
        <if test="price.specification2!=null">
            and specification2=#{price.specification2}
        </if>
        <if test="price.specification3!=null and price.specification3.length>0">
            and specification3=#{price.specification3}
        </if>
        <if test="price.specification4!=null and  price.specification3.length>0">
            and specification4=#{price.specification4}
        </if>
    -->

</mapper>